{% extends 'base.html' %}

    {% block background %} {% endblock %}
    {% block start %}
    {% endblock %}
    {% block content %}
        <section id="login" class="login-page">
          <h2>Imię: {{ user.first_name }} <br> Nazwisko: {{ user.last_name }} <br> Mail: {{ user.email }} </h2>
          <div>
            <h2>Dary:</h2>
            {% if donations|length == 0 %}
                <h2>Brak przekazanych darów</h2>
            {% else %}
                <ol>
                    {% for donation in donations %}
                    <li>Dar: <br>
                        <h3>Ilość przekazanych worków: {{ donation.quantity }}</h3>
                        <h3>Gdzie przekazano: {{ donation.institution }}</h3>
                        <h3>Kategoria daru: {% for cat in donation.categories.all %}{{ cat.name }}{% endfor %}</h3>
                        <h3>Data przekazania: {{ donation.pick_up_date }}</h3>
                        <div>
                            <input class="form-check-input" type="checkbox" id="given_donation">
                            <label class="form-check-label" for="given_donation">Czy dar został odebrany</label>
                        </div>
                    </li>
                    {% endfor %}
                </ol>
            {% endif %}`
          </div>
        </section>


  <h2>{{ message }}</h2><br><br>

    {% endblock %}